root,body,.main {
    background-color: rgb(255, 255, 255);
    color: black;
    font-size: 25px;
  }
  
  .dark-mode,.main {
    background-color: black;
    color: whi;
  }
.button{
    border-radius: 4px;
    width: 50px;
    height: 50px;
    font-size: 25px;


    border: none;
    color: white;
    background-color: black;
}
.button:hover{
    transition: .2s;
    background-color: rgb(111, 10, 155);
    color: black;
}
.textview{
    position: relative;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    width: 210px;
    height: 50px;
    margin: 8px;
    font-size: 25px;

    
}
.textview:hover{
    /* background-color: white; */
}
.result{
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    color: black;
    border: none;
    width: 105px;
    height: 50px;
    margin: 2px;
    margin-left: 2px;
    font-size: 25px;
    padding: 5px;
    
}
.main{
   

    position: absolute;
    margine-left: 10%;
    border: solid rgba(256, 0, 0, 0.658) 8px;
    border-radius: 8px 8px;

    transfrom translateX(50%) translateY(-50%);
    transform: translate(-50%,-50%);
}
#bg{
    /* background: linear-gradient(#e91e63, #3f51b5); */
    background-image: linear-gradient(to right, red , yellow);    
    height: 100%;
    width: 100%;
}
